# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/BetFriend.Domain/obj
/.vs
/BetFriend.UnitTests/obj
/BetFriend.Application/bin/Debug/net5.0
/BetFriend.Application/obj
/BetFriend.Domain/bin/Debug/net5.0
/BetFriend.UnitTests/bin/Debug/net5.0
/BetFriend.Api.v3.ncrunchsolution.user
/BetFriend.Infrastructure/bin/Debug/net5.0
/BetFriend.Infrastructure/obj
/BetFriend.WebApi/obj/Debug/net5.0
/BetFriend.WebApi/bin/Debug/net5.0
/BetFriend.WebApi/obj
/BetFriend.Database/bin/Debug
/BetFriend.Database/obj/Debug
/BetFriend.Database/BetFriend.Database.sqlproj.user
/BetFriend.Database/BetFriend.Database.dbmdl
/BetFriend.Database/BetFriend.Database.jfm
/BetFriend.UserAccess.Application/bin/Debug/net5.0
/BetFriend.UserAccess.Application/obj
/BetFriend.UserAccess.Domain/bin/Debug/net5.0
/BetFriend.UserAccess.Domain/obj
/BetFriend.UserAccess.Infrastructure/bin/Debug/net5.0
/BetFriend.UserAccess.Infrastructure/obj
/BetFriend.UserAccess.UnitTests/bin/Debug/net5.0
/BetFriend.UserAccess.UnitTests/obj
/BetFriend.Shared.Application/bin/Debug/net5.0
/BetFriend.Shared.Application/obj/Debug/net5.0
/BetFriend.Shared.Application/obj
/BetFriend.Shared.Domain/bin/Debug/net5.0
/BetFriend.Shared.Domain/obj/Debug/net5.0
/BetFriend.Shared.Domain/obj
/BetFriend.Shared.Infrastructure/bin/Debug/net5.0
/BetFriend.Shared.Infrastructure/obj/Debug/net5.0
/BetFriend.Shared.Infrastructure/obj/project.nuget.cache
/BetFriend.Shared.Infrastructure/obj/project.assets.json
/BetFriend.Shared.Infrastructure/obj/BetFriend.Shared.Infrastructure.csproj.nuget.g.targets
/BetFriend.Shared.Infrastructure/obj/BetFriend.Shared.Infrastructure.csproj.nuget.g.props
/BetFriend.Shared.Infrastructure/obj/BetFriend.Shared.Infrastructure.csproj.nuget.dgspec.json
/BetFriend.AzureFunctions/bin/Debug/net5.0
/BetFriend.AzureFunctions/obj
/BetFriend.AzureFunctions/Properties
